<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <p>There is a new toy on the market that has everyone saying @Model.Expression! It is called the @Model.Sound1 @Model.Adjective1 @Model.Noun1 box, and will be in stores in @Model.Month.</p>
    <p>The @Model.Sound1 @Model.Adjective1 @Model.Noun1 box is a new gadget that lets you do just about anything! It  @(Model.Verb1)s,  @(Model.Verb2+"s"), and it even serves @Model.Beverage! It is easy to operate and requires no instructions!</p>
    <p>You can also have it custom made any size up to @Model.Number1 inches or a @Model.Color1 to glow in the dark at no extra charge! The original product is pocket-sized and @Model.Color2. There are @Model.Number2 jacks on the product for 6V DC power and for upgrades and add-ons. You can add head-phones, @Model.PluralNoun1 monitors, @Model.PluralNoun2, and more! It’s possible to use them all at the same time!</p>
  </body>
</html>